<%- include("partials/header.ejs") -%>
<div class="container-fluid">

    <img  style="width:200px;" class="icon change" src="/images/comment.png">
    <h1> <%= company; %> </h1>
<h3> <%= title; %> </h3>
<h4><%= comments; %> </h4>
<button class="btn bttn btn-outline-light"><a  class="a" href="/">Back</a></button>
</div>