<%- include("partials/header2.ejs") -%>
<h1  class="text-dark">Register</h1>
 <main class="form-signin">
   <form class="" action="/register" method="post">
     <img class="mb-4" src="/images/files.png" alt="" width="72" height="57">
     <h2 class="h3 mb-3 fw-normal text-dark">Please Enter Credentials</h2>
     <div class="form-floating">
       <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
       <label for="floatingInput">Email address</label>
     </div>
     <div class="form-floating">
       <input type="text" name="name" class="form-control" id="floatingInput" placeholder="name">
       <label for="floatingInput">Name</label>
     </div>
     <div class="form-floating">
       <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
       <label for="floatingPassword">Password</label>
     </div>
     <br>
     <button class="w-100 btn btn-lg btn-dark" type="submit">Register</button>
   </form>
   <br >
   <a href="/login" class= "text-dark">Login</a>
   <p class="mt-5 mb-3 text-dark">J-Kizzy</p>
 </main>



   </body>
